.congratulation-container {
    background-image: url("../../assets/images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

h1 {
    position: absolute;
    width: 340px;
    height: 58px;
    left: 600px;
    top: 160px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    text-align: center;
    color: #455297;
}

img{
    position: absolute;
    width: 48px;
    height: 49px;
    left: 950px;
    top: 170px;
}

p {
    position: absolute;
    width: 482px;
    height: 31px;
    left: 540px;
    top: 250px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
    text-align: center;

    color: #000000;
}

.btn-start {
    position: absolute;
    display: block;
    width: 381px;
    height: 53px;
    left: 590px;
    top: 360px;
    padding: 10px;
    font-size: 16px;
    background-color: #455297;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
